@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900);

* {

padding: 0;
margin: 0;
box-sizing: border-box;

}

body {

font-family: 'Poppins', sans-serif;
align-items: center;
justify-content: center;

}

.nav-bar {

    max-width: 1888px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-height: 100px;
    color: #fff;
    background-color: blue;
    position: fixed;

}

a {

    text-decoration: none;
    color: #fff;

}

.link {

    list-style: none;
    display: inline-block;
    padding: 88px;
    padding-left: 40px;
    left: 200px;
    bottom: 200px;
    position: relative;
    transition: 1s ease;


}

.link a {

    position: relative;
    padding-bottom: 0.75rem;
    text-decoration: none;
    
    }
    
.link:hover {
    
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    
}

.container {

position: relative;
align-items: center;
justify-content: center;
display: grid;
padding: 10px;
top: 100px;
font-size: 20px;

}

.container p {

left: 48px;
position: relative;
top: 20px;

}

.description {

position: relative;
align-items: center;
justify-content: center;
display: grid;
padding: 400px;
font-size: 20px;
    
}

.description p {

position: relative;
top: 40px;
left: 28px;

}

.description h3 {

position: relative;
top: 80px;
left: 60px;

}

.footer {

background-color: blue;
color: #fff;
padding: 40px;

}

